<div style="padding: 36px;">
  <h1>Caisse enregistreuse: </h1>
  <% @session = Session.last %>
  <%= @session.status %>
  <%= @session.created_at.to_date %>
  <% if @session.list.empty? %>
    <p>Liste vide</p>
    <% sum = 0 %>
  <% else %>
    <% sum = 0 %>
    <% @session.list.each do |element| %>
      <% product = Product.where(id: element.to_i).first %>
      <li>article n°<%= product.id %> - <%= product.price %>€</li>
      <% sum += product.price %>
    <% end %>
  <% end %>
  <br>
  <p style="font-weight: bolder;"><%= sum %>€</p>
  <br>
  <%= link_to "Valider", validation_path, class: "button-red", style:"width: 240px;", data: {confirm: "Vous confirmez l'envoi ?"} %>
</div>

