<div>
  <div id="comptabilite">
    <% credit = 0 %>
    <% encours = 0 %>
    <% versement = 0 %>
    <% somme = 0 %>
    <% Product.where(status: "vendu").each do |product| %>
      <% credit += ((product.price_cents/1.2)/200) %>
    <% end %>
    <% Paiement.where(status: "généré").each do |paiement| %>
      <% versement += paiement.amount_cents %>
    <% end %>
    <% Fournisseur.all.each do |fournisseur| %>
      <% somme += fournisseur.credit %>
    <% end %>
    <% encours = credit - versement %>
    <h3>Montant des produits vendu: <%= credit %>€</h3>
    <h3>Somme des paiements effectués: <%= versement %>€</h3>
    <h3>Encours fournisseur à verser: <%= encours %>€</h3>
    <h3>Total des crédits fournisseur: <%= somme %>€</h3>
  </div>
  <h1>Mes paiements</h1>
  <div>
  <%= link_to 'retour au Menu', root_path, class: "btn btn-success"%>
  <ul>
    <% Paiement.order("id DESC").each do |paiement| %>
      <li><%= paiement.id %> - <%= paiement.fournisseur.firstname %> <%= paiement.fournisseur.lastname %> - <%= paiement.amount_cents %> € - <%= paiement.status %> <%= link_to 'Réglé', settle_status_path(paiement), method: :post, class: "button", style:"padding: 8px;" %> <%= link_to 'X', paiement_path(paiement), method: :delete, class: "button-red"%></li>
      <br>
    <% end %>
  </ul>
</div>
</div>
