<div>
  <div id="comptabilite">
    <% credit = 0 %>
    <% encours = 0 %>
    <% versement = 0 %>
    <% somme = 0 %>
    <% avoir = 0 %>
    <% Product.where(user_id: current_user.id, status: "vendu").each do |product| %>
      <% credit += ((product.price_cents/1.2)/200).round(2) %>
    <% end %>
    <% Paiement.where(status: "généré").each do |paiement| %>
      <% if paiement.fournisseur.user_id == current_user.id %>
        <% versement += paiement.amount_cents %>
        <% if paiement.avoir %>
          <% avoir += paiement.amount_cents %>
        <% end %>
      <% end %>
    <% end %>
    <% Fournisseur.all.each do |fournisseur| %>
      <% if fournisseur.user_id == current_user.id %>
        <% somme += fournisseur.credit %>
      <% end %>
    <% end %>
    <% encours = credit - versement %>
    <h3>Montant des produits vendu: <%= credit %>€</h3>
    <h4>Somme des paiements effectués: <%= versement %>€</h4>
    <h4>dont <%= avoir %>€ sous forme d'avoir</h4>
    <h3>Total des crédits fournisseur restants: <%= somme %>€</h3>
    <%= link_to 'Crédit en détail', creditdetail_path, class: "btn btn-success", style: 'max-width: 25%; border-radius: 8px;'%>
  </div>
  <% notification = 0 %>
  <% Paiement.where(status: "à générer").each do |paiement| %>
    <% if paiement.fournisseur.user_id == current_user.id %>
      <% notification += 1 %>
    <% end %>
  <% end %>
  <div style="display: flex; align-items: center; ">
    <h1>Mes paiements</h1><p style="margin-top: 10px;margin-left: 24px;"><span style="padding: 8px; border-radius: 50%; background-color: red; color: white; font-weight: bolder;"><%= notification %></span> opération(s) en attente</p>
  </div>
  <div>
  <%= link_to 'retour au Menu', root_path, class: "btn btn-success"%>
  <ul>
    <% Paiement.order("id DESC").each do |paiement| %>
      <% if paiement.fournisseur.user_id == current_user.id %>
        <% if paiement.status == "à générer" %>
          <% if paiement.avoir %>
            <li><%= paiement.id %> - <%= paiement.fournisseur.firstname %> <%= paiement.fournisseur.lastname %> - <%= paiement.amount_cents %> € - avoir <%= paiement.status %> <%= link_to 'Réglé', settle_status_path(paiement), method: :post, class: "button", style:"padding: 8px; max-width: 16%;" %> <%= link_to '€', edit_amount_path(paiement), method: :post %> <%= link_to 'X', paiement_path(paiement), method: :delete, class: "button-red"%></li>
            <br>
          <% else %>
            <li><%= paiement.id %> - <%= paiement.fournisseur.firstname %> <%= paiement.fournisseur.lastname %> - <%= paiement.amount_cents %> € - virement <%= paiement.status %> <%= link_to 'Réglé', settle_status_path(paiement), method: :post, class: "button", style:"padding: 8px; max-width: 16%;" %> <%= link_to '€', edit_amount_path(paiement), method: :post %> <%= link_to 'X', paiement_path(paiement), method: :delete, class: "button-red"%></li>
            <br>
          <% end %>
        <% else %>
          <% if paiement.avoir %>
            <li><%= paiement.id %> - <%= paiement.fournisseur.firstname %> <%= paiement.fournisseur.lastname %> - <%= paiement.amount_cents %> € - avoir <%= paiement.status %> <%= link_to 'Réglé', settle_status_path(paiement), method: :post, class: "button", style:"padding: 8px; max-width: 16%;" %> <%= link_to 'X', paiement_path(paiement), method: :delete, class: "button-red"%></li>
            <br>
          <% else %>
            <li><%= paiement.id %> - <%= paiement.fournisseur.firstname %> <%= paiement.fournisseur.lastname %> - <%= paiement.amount_cents %> € - virement <%= paiement.status %> <%= link_to 'Réglé', settle_status_path(paiement), method: :post, class: "button", style:"padding: 8px; max-width: 16%;" %> <%= link_to 'X', paiement_path(paiement), method: :delete, class: "button-red"%></li>
            <br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
