<div class="bg-home">
  <div id="welcometext">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
  <% if user_signed_in? %>
  <!-- access for admins or customers only -->
    <% if current_user.admin %>
      <div>
        <h1>Graine de mômes</h1>
        <h2>Application de Gestion du stock & comptabilité</h2>
        <div class="buttons-home">
          <%= link_to furnishers_path do %>
            FOURNISSEURS
          <% end %>
          <%= link_to products_path do %>
            STOCKS
          <% end %>
          <%= link_to comptabilite_path do %>
            COMPTABILITE
          <% end %>
          <%= link_to stat_path do %>
            STATISTIQUES
          <% end %>
        </div>
        <div class="dashboard">
          <h3>Dashboard</h3>
          <table>
            <tr class="bg-info text-white">
              <td>Fournisseurs</td>
              <td>Sélections</td>
              <td>Produits</td>
              <td>Valeur estimée du stock en HT</td>
              <td>Montant estimé des ventes en HT</td>
            </tr>
            <tr>
              <td><%= @fournisseurs.count %> fournisseurs</td>
              <td><%= @selections.count %> sélections</td>
              <td><%= @products.count %> produits</td>
              <% inventory = 0 %>
              <% sales = 0 %>
              <% @products.each do |product| %>
                <% inventory += (product.price / 1.2) %>
                <% sales += (product.price / 1.2) if product.status == "vendu" %>
              <% end %>
              <td><%= inventory %>€</td>
              <td><%= sales %>€</td>
            </tr>
          </table>
        </div>
    <% else %>
      <% mail = current_user.email %>
      <% @fournisseur = Fournisseur.where(email: mail).first %>
      <div>
        <div class="fiche_fournisseur" style="opacity: 0.8; margin: auto !important;">
          <h2 style="display: flex;">Fiche de <%= @fournisseur.firstname %> <%= @fournisseur.lastname %></h2>
          <p>Mon code : <%= @fournisseur.code %></p>
          <div>
            <p><%= @selections.count %> sélection(s) - <%= @total %> produit(s) d'une valeur totale de <%= @sumup %> € Hors Taxes.</p>
            <p>Mon crédit = <%= @fournisseur.credit %>€.</p>
            <p>Vous avez déjà gagné <%= @fournisseur.settle %>€.</p>
            <br>
          </div>
        </div>
        <br>
        <div style="display: flex; justify-content: space-around; align-items: center;">
          <%= link_to 'Mes sélections', selections_path(fournisseur_id: @fournisseur.id), class: "button"%>
          <%= link_to "Effectuer un nouveau dépôt", selections_path(fournisseur_id: @fournisseur.id), method: :post, class: "button-ts"%>
        </div>
      </div>
    <% end %>
  <!-- if user doesnt sign up yet. display CGU CGV to create an account and start to propose clothes -->
  <% else %>
     <%= link_to "Se connecter", new_user_session_path, class: "button-red" %>
  <% end %>
    <% if user_signed_in? %>
  <!-- access for admins or customers only -->
      <% if current_user.admin %>
        <div class="stat">
          <h3>Statistiques</h3>
          <br>
          <% solded = @products.where(status: "vendu").count %>
          <p>Produits vendus: <%= solded %>, soit <%= ((solded.to_f/@products.count.to_f)*100).round(2) %>% des produits en stocks.</p>
          <% x = 0 %>
          <% numerous_brand = nil %>
          <% Brand.all.each do |brand| %>
            <% y = Product.where(brand: brand.name).count %>
            <% if y > x %>
              <% x = y %>
              <% numerous_brand = brand.name %>
            <% end %>
          <% end %>
          <% array = [] %>
          <% all_size = [] %>
          <% Product.all.each do |element| %>
            <% array << element.size %>
            <% all_size = array.uniq %>
          <% end %>
          <% z = 0 %>
          <% numerous_size = nil %>
          <% all_size.each do |element| %>
             <% y = Product.where(size: element).count %>
             <% if y > z %>
               <% z = y %>
               <% numerous_size = element %>
             <% end %>
          <% end %>
          <p>Les Ages les plus en stock: <%= numerous_size %></p>
          <p>Les marques les plus en stock: <%= numerous_brand %> avec <%= x %> vêtements.</p>
          <p>les Ages les plus vendus</p>
          <p>Les marques les plus vendu</p>
        </div>
      <% end %>
    <% end %>
</div>
