<div>
  <table class="products_table">
    <tr id="product-bg">
      <td>Vêtements \ Marques</td>
      <% Brand.order(name: :asc).each do |element| %>
      <td><%= element.name %></td>
      <% end %>
    </tr>
    <% Clothe.order(name: :asc).each do |clothe| %>
    <% @clothe = clothe.name %>
    <tr>
      <td><%= @clothe %></td>
      <% Brand.order(name: :asc).each do |brand| %>
      <% @brand = brand.name %>
        <% if Tarif.where(brand: @brand, clothe: @clothe).present? %>
          <% @tarif = Tarif.where(brand: @brand, clothe: @clothe).first %>
          <td style="background-color: #ADF7B6;">
            <%= link_to edit_tarif_path(@tarif) do %>
              <p style="margin: auto;"><%= @tarif.price %>€</p>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= link_to new_tarif_path do %>
              <p style="margin: auto; padding: 8px;">0,00 €</p>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>



