<div class="bg-repartition">
  <h3>Répartion du stock par marque et par taille</h3>
  <table class="products_table" style="margin-bottom: 10vh; background-color: #A37EFC;">
    <tr id="product-bg">
      <td></td>
      <% @all_size.each do |size| %>
        <td><%= size %></td>
      <% end %>
      <td>Total</td>
    </tr>
    <% @all_brands.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <% @all_size.each do |size| %>
          <td><%= element.percentagebysizeandbrand(size) %>%</td>
        <% end %>
        <td><%= element.percentagebrand %>%</td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <% @all_size.each do |size| %>
        <% percentagesize = 0 %>
        <% @all_brands.each do |element| %>
          <% percentagesize += element.percentagebysizeandbrand(size) %>
        <% end %>
        <td><%= percentagesize.round(2) %>%</td>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td></td>
      <% @all_size.each do |size| %>
        <td><%= size %></td>
      <% end %>
    </tr>
  </table>
</div>
