<div class="bg-repartition">
  <h3>Répartion du stock par genre et par âge</h3>
  <table class="products_table" style="margin-bottom: 10vh; background-color: #A37EFC;">
    <tr id="product-bg">
      <td>Sexe/Ages</td>
      <% @all_size.each do |size|%>
      <td><%= size %></td>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td>Fille</td>
      <% @all_size.each do |size|%>
        <% girlproducts = Product.where(size: size, genre: "Fille", status: "à vendre").count.to_f %>
        <% products = Product.where(size: size, status: "à vendre").count.to_f %>
        <% result = ((girlproducts / products)*100).to_i %>
        <% if result > 70 %>
          <td class="flash-alert"><%= result %>% - <%= girlproducts.to_i %></td>
        <% else %>
          <td style="background-color: #ECE9EC; color: #4C424C;"><%= result %>% - <%= girlproducts.to_i %></td>
        <% end %>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td>Mixte</td>
      <% @all_size.each do |size|%>
        <% mixtproducts = Product.where(size: size, genre: "Mixte", status: "à vendre").count.to_f %>
        <% products = Product.where(size: size, status: "à vendre").count.to_f %>
        <td style="background-color: #ECE9EC; color: #4C424C;"><%= ((mixtproducts / products)*100).to_i %>% - <%= mixtproducts.to_i %></td>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td>Garçon</td>
      <% @all_size.each do |size|%>
        <% boyproducts = Product.where(size: size, genre: "Garçon", status: "à vendre").count.to_f %>
        <% products = Product.where(size: size, status: "à vendre").count.to_f %>
        <% result = ((boyproducts / products)*100).to_i %>
        <% if result > 70 %>
          <td class="flash-alert"><%= result %>%  - <%= boyproducts.to_i %></td>
        <% else %>
          <td style="background-color: #ECE9EC; color: #4C424C;"><%= result %>% - <%= boyproducts.to_i %></td>
        <% end %>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td>Non renseigné</td>
      <% @all_size.each do |size|%>
        <% products = Product.where(size: size, status: "à vendre").count.to_f %>
        <% nr_products = Product.where(size: size, genre: "", status: "à vendre").count.to_f + Product.where(size: size, genre: nil, status: "à vendre").count.to_f%>
        <% result = ((nr_products / products)*100).to_i %>
        <td style="background-color: #ECE9EC; color: #4C424C;"><%= result %>% - <%= nr_products.to_i %></td>
      <% end %>
    </tr>
    <tr id="product-bg">
      <td>Total</td>
      <% @all_size.each do |size|%>
        <% products = Product.where(size: size, status: "à vendre").count.to_i %>
        <td style="background-color: #ECE9EC; color: #4C424C;"><%= products %></td>
      <% end %>
    </tr>
  </table>
</div>

