<div class="m-5">
  <h1>Détail de la sélection n°<%= @selection.id %> de <%= @selection.fournisseur.firstname %></h1>
  <div class="buttons-fournisseurs">
    <% if @selection.products.count > 0 %>
      <%= link_to "Générer un PDF", selection_path(@selection, :format => :pdf) , :format => :pdf, class: "btn btn-success" %>
      <%= link_to "Etiquettes", selection_etiquette_path(@selection, :format => :pdf) , :format => :pdf, class: "btn btn-success" %>
    <% end %>
    <%= link_to "Enregistrer en CSV", selection_csv_path, class: "button-red", style:"width: 240px;" %>
    <%= link_to 'Ajouter un produit', new_selection_product_path(@selection), class: "btn btn-primary"%>
    <%= link_to 'Retour', selections_path(fournisseur_id: @selection.fournisseur.id), class: "btn btn-success"%>
    <h3><%= @selection.products.count %> produit(s)</h3>
  </div>
</div>

<div class="products_table">
  <table>
    <tr id="product-bg">
      <td>N°</td>
      <td>Vêtements</td>
      <td>Marque</td>
      <td>Catégorie</td>
      <td>Taille</td>
      <td>Genre</td>
      <td>Couleur</td>
      <td>Prix HT</td>
      <td>Prix TTC</td>
      <td>Statut</td>
      <td>Photo</td>
      <td>MAJ prix</td>
      <td>Editer</td>
      <td>Supprimer</td>
      <td>Vendu ?</td>
    </tr>
    <% if @selection.products.count > 0 %>
      <% @selection.products.order(:id).each do |product| %>
        <tr id="product-details">
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.brand %></td>
          <td><%= product.category %></td>
          <td><%= product.size %></td>
          <td><%= product.genre %></td>
          <td><%= product.color %></td>
          <td><%= product.price / 1.2 %>€</td>
          <td><%= product.price %>€</td>
          <td><%= product.status %></td>
          <td>
            <% if product.photo.present?%>
              <%= link_to product_path(product) do %>
                <i class="fas fa-camera-retro"></i>
              <% end %>
            <% else %>
              <i class="fas fa-ban"></i>
            <% end %>
          </td>
          <td><%= link_to '€', edit_price_path(product), method: :post %></td>
          <td><%= link_to 'edit',edit_product_path(product)%></td>
          <td><%= link_to '-', product_path(product), method: :delete, data: {confirm: "Vous êtes sûre?"} %></td>
          <td>
            <%= link_to " Vendu ", sold_status_path(product), method: :post %> / <%= link_to " à Vendre ", tosell_status_path(product), method: :post %>
          </td>
        </tr>
      <% end %>
      <% else %>
        <tr> Cette sélection ne contient pas de produit.</tr>
      <% end %>
  </table>
</div>

