<div class="container m-5">
  <%= link_to 'retour au Menu', root_path, class: "button-sm"%>
  <br>
  <%= link_to "Sauvegarder", save_csv_path, class: "button-sm", style:"margin-top: 16px;"%>
  <br>
  <%= link_to 'Créer un fournisseur', new_fournisseur_path, class: "button-red", style:"margin-top: 16px;"%>

  <div class="search mt-2">
    <%= form_tag fournisseurs_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %>
      <div class="search-form-control form-group mt-1 mb-0">
        <%= text_field_tag :query,
            params[:query],
            class: "search-input form-control string required",
            id: "search_query",
            placeholder: "chercher un fournisseur par son nom, son email ou son code",
            value: ""
        %>
        <%= button_tag(type: "submit", class: "btn btn-flat") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <% @fournisseurs.each do |element| %>
    <div class="index mt-5">
      <div>
        <%= link_to fournisseur_path(element) do %>
          <%= element.firstname %> <%= element.lastname %>- n°<%= element.code %>
        <% end %>
        <% element.selections.each do |selection| %>
          <% if selection.percentage_sold == 100 %>
            <%= link_to selections_path(fournisseur_id: element.id) do %>
              <i class="fas fa-star flash-star" style="color: #FFD700;"></i>
            <% end %>
          <% elsif selection.percentage_sold >= 50 %>
            <i class="fas fa-star-half-alt" style="color: #FFD700;"></i>
          <% else %>
            <i class="far fa-star" style="color: #FFD700;"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= link_to 'X', fournisseur_path(element), method: :delete, class: "button-red"%>
      </div>
    </div>
  <% end %>
</div>
<a href="" id="arrow"><i class="fas fa-arrow-up"></i></a>
