<div>
  <div class="fiche_fournisseur">
    <h2 style="display: flex;">Fiche de <%= @fournisseur.firstname %> <%= @fournisseur.lastname %>    <%= link_to 'Editer', edit_fournisseur_path(@fournisseur), class: "button", style:"margin-left: 16px;"%></h2>
    <p>Coordonnées : <%= @fournisseur.email %>  / Tél: <%= @fournisseur.phone %></p>
    <% if @fournisseur.justificatif.present? %>
      <p>IBAN: <%= @fournisseur.justificatif.justif %></p>
    <% else %>
      <p>Le fournisseur n'a pas encore saisie son RIB.</p>
    <% end %>
    <% if @fournisseur.justificatif.present? && @fournisseur.justificatif.don %>
      <p>En cas de vêtements invendus : en faire don.</p>
    <% else %>
      <p>En cas de vêtements invendus : récuperer.</p>
    <% end %>
    <p>Code : <%= @fournisseur.code %></p>
    <div>
      <p><%= @selections.count %> sélection(s) - <%= @total %> produit(s) d'une valeur totale de <%= @sumup %> €. Crédit = <%= @fournisseur.credit %> €. </p>
      <% if @fournisseur.paiements.count < 1 %>
        <p>Aucun paiement n'a été réalisé</p>
      <% else %>
        <p>Ses paiements : </p>
        <% @fournisseur.paiements.each do |paiement| %>
          <p><%= paiement.date.to_date.strftime("le %d/%m/%Y")%>, un virement de <%= paiement.amount_cents %>€</p>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
  <div style="display: flex; justify-content: space-around; align-items: center;">
    <%= link_to 'Ses sélections', selections_path(fournisseur_id: @fournisseur.id), class: "button"%>

    <%= link_to "Créer une nouvelle sélection de vêtements", selections_path(fournisseur_id: @fournisseur.id), method: :post, class: "button-ts"%>

    <%= link_to "Réaliser un paiement", fournisseur_paiements_path(fournisseur_id: @fournisseur.id), method: :post, class: "button-red"%>

    <%= link_to "Retour aux autres fournisseurs", fournisseurs_path, class: "button-return"%>
  </div>
  <br>
  <%= link_to "Sauvegarder", fournisseur_save_csv_path, class: "button-sm", style:"margin-left: 32px; margin-top: 16px;"%>
</div>
