<div class="container mt-5">
  <div class="buttons-fournisseurs">
    <%= link_to 'Retour à la sélection', selection_path(@selection), class: "btn btn-success"%>
    <%= link_to 'Créer une marque', new_brand_path, class: "button-red"%>
    <%= link_to 'Créer un vêtement', new_clothe_path, class: "button-sm"%>
    <%= link_to 'Créer une couleur', new_color_path, class: "button-red"%>
    <% if @selection.products.count > 0 %>
      <% product = @selection.products.last %>
      <%= link_to 'Revenir au dernier produit',edit_product_path(product), class: "button"%>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Nouveau produit</h1>
      <%= simple_form_for [ @selection, @product ] do |f| %>
        <% array_brand =  []%>
        <% array_clothe =  []%>
        <% array_color =  []%>
        <% Brand.all.each do |brand| %>
        <%   array_brand << brand.name %>
        <% end %>
        <% Clothe.all.each do |clothe| %>
          <%   array_clothe << clothe.name %>
        <% end %>
        <% Color.all.each do |color| %>
          <%   array_color << color.name %>
        <% end %>
        <%= f.input :name, label: "Nom du vêtement",collection:  array_clothe %>
        <%= f.input :brand, label: "Marque",collection: array_brand %>
        <%= f.input :size, label: "Taille",collection: ['0 mois', '1 mois','3 mois','3-6 mois','6 mois','6-9 mois','9 mois','9-12 mois','12 mois','12-18 mois','18 mois','18-24 mois','2 ans', '2-3 ans','3 ans','3-4 ans', '4 ans', '5 ans', '6 ans', '7 ans', '8 ans', '10 ans', '12 ans', '14 ans', 'Pointure 15', 'Pointure 16', 'Pointure 17', 'Pointure 18', 'Pointure 19', 'Pointure 20', 'Pointure 21', 'Pointure 22', 'Pointure 23', 'Pointure 24', 'Pointure 25', 'Pointure 26', 'Pointure 27', 'Pointure 28', 'Pointure 29', 'Pointure 30', 'Pointure 32', 'Pointure 32', 'Pointure 33', 'N/A']%>
        <%= f.input :genre, label: "Genre",collection: ['Fille', 'Garçon', 'Mixte'] %>
        <%= f.input :color, label: "Sa couleur",collection: array_color %>
        <%= f.input :season, label: "Saison",collection: ['Printemps/Eté', 'Automne/Hiver'] %>
        <%= f.input :comment, label: "Choisir l'état", collection: ['Neuf avec étiquette', 'Excellent état', 'Bon état'] %>
        <%= f.input :commentaire, label: "Ajouter un commentaire"%>
        <div class="d-flex mb-2">
          <%= f.input :photo, label: 'Ajoutez une photo', as: :file %>
        </div>
         <div class="form-button mt-2 mb-2">
          <%= f.submit "Créer le produit", class: 'button-red', style:"height: 40px !important;" %>
          <%= f.submit "Créer un autre produit", class: 'button-sm', style:"height: 40px !important;" %>
         </div>
     <% end %>
    </div>
  </div>
</div>
