<!DOCTYPE html>
<html>
<head>
  <title>Etiquette de la sélection</title>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
  'reload' %>
  <%= wicked_pdf_stylesheet_link_tag "selection" %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>

</head>
<body style="background-color: white;">
    <%= image_tag wicked_pdf_asset_base64('logo.png'), style:"width: 200px; height: 120px;" %>
  <br>
  <h2 class="mt-5 mb-3"><strong>Etiquettes de la sélection n° <%= @selection.id%> des produits à vendre</strong></h2>
  <div class="etiquettes">
    <% if @selection.products.count > 0 %>
      <% @selection.products.where(status: "à vendre").each do |product| %>
        <div class="etiquette">
          <%= image_tag wicked_pdf_asset_base64('petitlogo.png') %>
          <p><%= product.name %> - n°<%= product.id %><%= product.selection.fournisseur.firstname.chars.first%><%= product.selection.fournisseur.lastname.chars.first%></p>
          <p style="font-size: 24px;"><%= product.price %>€</p>
        </div>
      <% end %>
    <% else %>
      <p>Cette sélection n'a pas encore de produit.</p>
    <% end %>
  </div>
</body>
</html>
