<!DOCTYPE html>
<html>
<head>
  <title>Etiquette de la sélection</title>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
  'reload' %>
  <%= wicked_pdf_stylesheet_link_tag "selection" %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>

</head>
<body style="background-color: white;">
  <div class="etiquettes">
    <table>
      <% @count = @products.count %>
      <% @done = 0 %>
      <% while @done < @count %>
        <% @products = @products.first(@count - @done) %>
        <tr>
          <% @products.last(3).each do |product| %>
          <td>
            <div class="etiquette">
              <%= image_tag wicked_pdf_asset_base64('petitlogo.png') %>
              <p><%= product.name %> - <%= product.size %></p>
              <p style="font-size: 24px;"><%= product.price %>€</p>
              <p style="font-size: 8px;">(n°<%= product.id %><%= product.selection.fournisseur.firstname.chars.first%><%= product.selection.fournisseur.lastname.chars.first%>)</p>
            </div>
          </td>
          <% end %>
        </tr>
        <% @done += 3 %>
      <% end %>
    </table>
  </div>
</body>
</html>
